{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <div class="page-header">

          <header id="header">
             <!-- <div id="logo"><img src="{% static 'css/blog_logo.png' %}" width="100" height=100 title="Logo" alt="" /></div> -->
          </header>
              <h1>Well Come to My world</h1>
              <h3>My name is Tesfahun Yohanis</h2>
              <h3>I am Student at University of Birmingham</h2>
              <!-- <h3><a href="/"> Home </a><a href="/blog/">|Personal Blog | </a><a href="/portfolio/">|My Portfolio | </a><a href="/cv/">|Curriculum Vitae(CV) | </a><a href="/admin/">Login as Admin </a></h3> -->

      </div>
      <div class="">
        <h3>I am a commander!!!</h3>
      </div>
      <div class="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
           et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
           Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
        <video class ="video" width="600" length="400" controls poster="static/images/poster.jpg">
         <source src="static/videos/video.mp4" type="video/mp4">
       </video>

        <div class="content container">
            <div class="row">
              <h3>
                <a class="highlighted" href="/"> Home </a>
                <a href="/blog/">|Personal Blog | </a>
                <a href="/portfolio/">|Portfolio | </a>
                <a href="/cv/">|Curriculum Vitae(CV) | </a>
                <a href="/admin/">Login as Admin </a>
              </h3>
              
              <li class="highlighted"><a href="link_02.html">Link2</a></li>
            </div>
        </div>
        <footer id="footer">Copyright &copy;
          <script type="text/JavaScript">
          document.write(new Date().getFullYear());
          </script> My Website
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </footer>
    </body>
</html>
