{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <div class="page-header">

          <header id="header">
             <div id="logo"><img src="{% static 'css/blog_logo.png' %}" width="100" height=100 title="Logo" alt="" /></div>
          </header>
              <h1>Well Come to My world</h1>
              <h2>I am a commander!!!</h2>
              <h3><a href="/">|Home </a><a href="/blog/">|Personal Blog | </a><a href="/cv/">|Curriculum Vitae(CV) | </a><a href="/admin/">Login as Admin | </a></h3>

      </div>
        <video width="600" length="400" controls poster="static/images/poster.jpg">
         <source src="static/videos/video.mp4" type="video/mp4">
       </video>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <footer id="footer">Copyright &copy;
          <script type="text/JavaScript">
          document.write(new Date().getFullYear());
          </script> My blog
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </footer>
    </body>
</html>
