{% load static %}

<html>
    <head>
        <title>Tesfahun Curriculum Vitae</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    </head>
    <body>
        <div class="page-header">
           {% if user.is_authenticated %}
            <a href="{% url 'cv_section_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <div class="mainDetails">
              <div id="contactDetails" class="quickFade delayFour">
                <ul>
                  <li><h4> email: <a href="soltesfa1@gmail.com" target="_blank">soltesfa1@gmail.com</a></h4></li>
                  <li><h4>website: <a href="http://127.0.0.1:8000/blog">www.mybloggs.com</a></h4></li>
                  <!-- <li>website: <a href="http://txy822.pythonanywhere.com/">www.mybloggs.com</a></li>
                  http://127.0.0.1:8000/ -->
                  <li><h4>linkedin: <a href="https://www.linkedin.com/in/tesfahun-yohanis-wolleli-atom">www.linkedin.com/tes</a></h4></li>
                  <li><h4>mobile: 07956220901</h4></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>

        <header id="header">
          <div id="logo"><img src="{% static 'css/cv_logo.jpg' %}" alt="" /></div>
          <!-- <div id="top_menu"><a href="#">Tesfahun Blog</a> | <a href="cv/">Resume(cv)</a>  | About |</div> -->

          <!-- <div id="topbanner"><img src="{% static 'top_banner.jpg' %}" alt="" /></div> -->
        </header>
            <h1><a href="/cv/">Curriculum Vitae(CV)</a></h1>
            <!-- <h2><a href="/">Tesfahun Blog </a>|<a href="/cv/">Tesfahun Curriculum Vitae </a></h2> -->
            <!-- <h3><a href="/">|Home </a><a href="/">| Personal Blogs </a><a href="/admin/">Login as Admin | </a></h3> -->
            <h3>Tesfahun Yohanis-Wolleli</h3>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <!-- <footer id="footer">Copyright &copy;
          <script type="text/JavaScript">
          document.write(new Date().getFullYear());
          </script> My CV
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </footer> -->
    </body>
</html>
