.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 140px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
     text-align: center;
}

.content {
    margin-left: 40px;
}
.highlighted{

    color: blue;
 }
body {
    padding-left: 15px;
    /* background-color: #E0E0E0; */
    background-color: #00000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
}

 h2, h3, h4 {
    font-family: 'Lobster', cursive;
     text-align: center;
}
h1 a, h2 a {
    color: #C25100;
     text-align: center;
}
h1 {
  font-family: 'Lobster', cursive;
   text-align: center;
}

p {
   text-align: center;
   font-size: 13px
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
@charset "utf-8";
#header {
    border-style: none;
    width: 800px;
    height: auto;
}

video {
  display: block;
  margin: auto;
  color: blue;
}
h1 {
   color: #270c39;
}
#footer {
   text-align: center;
   font-size: 0.8em;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #FFFFFF;
   border-top: thin solid #BBBBBB;
   clear: both;
   color: #969696;
   background-color: gray
}


#logo {
   padding: 10px;
   float: left;
}
